<section class="container container--main">
    <div id="jobs-component">
        <div class="spinner" ng-if="$ctrl.showSpinner">
            <div class="cube1"></div>
            <div class="cube2"></div>
        </div>
        <div class="error-box" ng-if="$ctrl.errorMsg">
            <p>{{$ctrl.errorMsg}}</p>
        </div>
        <div class="results" ng-if="$ctrl.showResults">
            <ul class="row">
                <li ng-repeat="job in $ctrl.jobs" class="col-lg-6 col-md-6 col-sm-12 col-xs 12 render-job" ng-class="{'clear-left': $index%2===0, 'clear-right': $index%2!==0}">
                    <div class="job">
                        <div class="job__header">
                            <span>{{job.job_date | date:"d MMM. y"}}</span>
                            <span>{{job.customer_name}}</span>
                        </div>
                        <div class="job__status-header" ng-class="{'status--fulfilled': job.__status==='FULFILLED', 'status--pending': job.__status==='START',
                                                                   'status--invoiced': job.__status==='INVOICED', 'status--error': job.__status==='ERROR',
                                                                   'status--cancelled': job.__status==='CANCELLED'}">
                            <span>{{job.status}}</span>
                        </div>
                        <div class="job__details">
                            <div class="job__detail">
                                <label>
                                    Order time:
                                </label><span>{{job.order_time}}</span>
                            </div>
                            <div class="job__detail">
                                <label>
                                    Recurrency:
                                </label>
                                <span>{{job.recurrency | recurrency}}</span>
                            </div>
                            <div class="job__detail">
                                <label>
                                    Price:
                                </label>
                                <span>{{job.price}} ({{job.payment_method}})</span>
                            </div>
                            <div class="job__detail">
                                <label>Extras:</label>
                                <span class="capitalize">{{job.extras | extras}}</span>
                            </div>
                            <div class="job__detail">
                                <div>
                                    <label>
                                        Address:
                                    </label>
                                    <span class="capitalize">{{job.job_street}} - {{job.job_postalcode}} - {{job.job_city}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="weather">
                            <div class="no-weather" ng-if="!job.weather.main">
                                <span>No weather data available right now.</span>
                            </div>
                            <div class="job__weather-header" ng-if="job.weather.main">
                                <span>Weather </span>
                                <img src="http://openweathermap.org/img/w/{{job.weather.weather[0].icon}}.png" alt="">
                            </div>
                            <div class="weather__details" ng-if="job.weather.main">
                                <div class="weather__detail">
                                    <span class="capitalize">Now: {{job.weather.main.temp | celsius}} | {{job.weather.weather[0].main}} ({{job.weather.weather[0].description}})</span>
                                </div>
                                <div class="weather__detail">
                                    <span>Today: {{job.weather.main.temp_min | celsius}} (min) | {{job.weather.main.temp_max | celsius}} (max)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>